@use "vars";
@use "breakpoints";

main {
  background-color: vars.$color-darkBlueMain;
  padding: 1.5rem;

  @include breakpoints.md {
    padding-block: 5%;
    padding-inline: 25%;
  }

  @include breakpoints.lg {
    padding-inline: 35%;
  }
}
